<app-hello></app-hello>
<!--
<app-hello></app-hello>
-->

<app-time></app-time>

<div>{{name|upper}}</div>


<div *ngIf="isLogin()">{{user}}</div>
<button *ngIf="!isLogin()">Login</button>

<div class="grid" >
  <app-day class="day" [day] ="day"
  (handlerDay)="handlerDay($event)"
  [attr.data-day]="day"
  *ngFor="let day of array"></app-day>
</div>

<div class="grid" >
  <app-day class="day" [day] ="day"
  (handlerDay)="handlerDay($event)"
  [attr.data-day]="day"
  *ngFor="let day of array"></app-day>
</div>

<div class="grid" >
  <app-day class="day" [day] ="day"
  (handlerDay)="handlerDay($event)"
  [attr.data-day]="day"
  *ngFor="let day of array"></app-day>
</div>

<cust-list></cust-list>
<app-list></app-list>
